<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Hairo.mappers.labelMapper.LabelMapper">
    <!--开启原生二级缓存-->
    <cache />
    <insert id="insertLabel">
        INSERT INTO `hairo_db`.`t_label` (`l_name`, `l_count`)
        VALUES
          (#{l_name}, #{l_count})
    </insert>
    <update id="updateLabel">
        UPDATE
          `hairo_db`.`t_label`
        <set>
            <if test="l_name != null"> `l_name` = #{l_name},</if>
            <if test="l_count != null">`l_count` = {l_count},</if>
            <if test="l_start != null">`l_start` = {l_start} </if>
        </set>

        WHERE `l_id` = #{l_id}
    </update>
    <update id="updateLabelCount">
        UPDATE
          `hairo_db`.`t_label`
        SET
          `l_count` =l_count + #{count}
        WHERE `l_name` = #{l_name} ;
    </update>
    <delete id="delLabelById">
        DELETE
        FROM
          `hairo_db`.`t_label`
        WHERE `l_id` = #{labelId}
    </delete>
    <select id="getLabelById" resultType="Label" parameterType="string">
        SELECT
          `l_name`,
          `l_count`
        FROM
          `hairo_db`.`t_label`
        where l_name like #{l_name}
    </select>
    <select id="getAllLabel" resultType="Label">
        SELECT
          `l_name`,
          `l_count`,
          `l_id`
        FROM
          `hairo_db`.`t_label`
         where l_count > 0 and l_start = #{state}
    </select>
    <select id="selectLabelCountByName" resultType="integer">
      SELECT
         `l_count`
      FROM
      `hairo_db`.`t_label`
      where l_name like #{l_name}
    </select>

</mapper>
