<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Hairo.mappers.userMapper.SysUserMapper">
    <!--<cache type="com.Hairo.util.RedisCache"/>-->
    <!--开启原生二级缓存-->
    <cache />
    <sql id="All_field">
      SELECT
          `u_id`,
          `u_name`,
          `u_password`,
          `u_email`,
          `u_contact`,
           u_state
       FROM
          `hairo_db`.`t_user`
    </sql>
    <update id="updateUser">
        UPDATE
          `hairo_db`.`t_user`
        <set>
            <if test="u_password !=null">`u_password` = #{u_password},</if>
            <if test="u_contact !=null">`u_contact` = #{u_contact},</if>
            <if test="u_email !=null">`u_password` = #{u_email},</if>
            <if test="u_state !=null">`u_state` = #{u_state},</if>
        </set>

        WHERE `u_name` = #{u_name} ;
    </update>

    <delete id="delUser">
        DELETE
        FROM
          `hairo_db`.`t_user`
        WHERE `u_name` = #{u_name} ;
    </delete>

    <select id="getAllUser" resultType="SysUsers">
      <include refid="All_field"/>
       where u_state = #{state}
    </select>

    <select id="getUserByName" resultType="SysUsers">
        <include refid="All_field"/>
        WHERE `u_name` like #{u_name}
    </select>
    <select id="selectUserSum" resultType="java.lang.Integer">
        select count(u_id) form `hairo_db`.`t_user` where u_state = #{state}
    </select>


    <insert id="addUser" parameterType="SysUsers">
        INSERT INTO `hairo_db`.`t_user` (
          `u_name`,
          `u_password`,
          `u_email`,
          `u_contact`
        )
        VALUES
          (
              #{u_name},
              #{u_password},
              #{u_email},
              #{u_contact}
          ) ;
    </insert>

    
</mapper>
